language: C++
sudo: false
os: osx
osx_image: xcode9.2

branches:
  only:
    - master
    - build

script:
  - export NAME=ci_test-$(git log -1 --format=%cd-%h --date=format:%y%m%d-%H%M%S $TRAVIS_COMMIT)
  - env
  - echo $NAME
