language: C++
sudo: false
os: osx
osx_image: xcode9.2

branches:
  only:
    - master
    - build

script:
  - export SUFFIX=$(git log -1 --format=%cd-%h --date=format:%Y%m%d-%H%M%S $TRAVIS_COMMIT)
  - export RELEASE_NAME=ci_test-$SUFFIX
  - export OUTPUT_NAME=ci_test-osx-$SUFFIX
  - env
  - python ./build.py $OUTPUT_NAME

before_deploy:
  # https://docs.travis-ci.com/user/deployment/releases/
  - git config --local user.name "Tom Seddon"
  - git config --local user.email "modelb@bbcmicro.com"
  - git tag $RELEASE_NAME
  
deploy:
  provider: releases
  api_key:
    secure: xXh0P0KNSatPSm5yvE2EZzV6dAPNV7jZTBRXIQPJeLYyv4EhyZRcG3pYlo7EIjIQnNegYBnHSXyuX7DIt3bMRuzL+lpWvnyLg6ZSH2wm7K8eMurOIRezCh3uqUcDm49lBv1SXfesZH01tjcmE84uuIwqesKbcDvUoW9IsaE1DbAB09ALnSZiEKWv3I4J6E+Eq+gOHABDW5Qqvfosu7S4jxJdd6LPylvR2/cz/RsmQkX3q7hwlfc/cHeBMcDr9EQS0z4MdWhFUtDsucMDWabLfcwhnHsT68++TPXr3qKmfJLXCJ1ltdCM1SdJlw6JV8+FX4Efwr2N5H3mjfSK2BNUkvEkl5trHWw8M87RDpOHlOGLWVn5jmtLO1/nLYZNPrS+Jeqre/l25H3OPi/zY34aYo+BrTeXfvxjBaestJHFFqSKJ/vgWjkpLm6JtPFDykbaVkIiwGxOPyQVpA0FP9LdwNs0t/0MRKZKLKDISSKGl7pKsfdlnVaw072Bzaa4tdo5P71X1WWxmkyjaHHdXPLK/P59NeSm1oeI22Z1JPiE9JZJUhP24VYHANihM8ntMZI/kx73iO7F+k0p1OEZXu44pb1f15Yy6TB8DiCSlPkSHYWbsJkvfTy2Iuej8nauUaZh8u6FRcnm61VUS8+MVTTTsUJyrEgEfW82um8rvgqCT34=
  file: ${OUTPUT_NAME}
  skip_cleanup: true
  on:
    branch: build
