language: C++
sudo: false
os: osx
osx_image: xcode9.2

branches:
  only:
    - master
    - build

script:
  - export SUFFIX=$(git log -1 --format=%cd-%h --date=format:%y%m%d-%H%M%S $TRAVIS_COMMIT)
  - export RELEASE_NAME=ci_test-$SUFFIX
  - export OUTPUT_NAME=ci_test-osx-$SUFFIX
  - env
  - python ./build.py $OUTPUT_NAME
  
