version: '{build}'

branches:
  only:
    - master
    - build

image: Visual Studio 2015

install:
  - ps: $env:NAME = "ci_test-"+$(git log -1 --format=%cd-%h --date=format:%y%m%d-%H%M%S $env:APPVEYOR_REPO_COMMIT)

build_script:
  - ps: env
  - ps: python ./build.py $env:NAME

artifacts:
  - path: ./output-$(NAME).txt
    name: output

deploy:
  release: $(NAME)
  description: 'ci_test'
  provider: GitHub
  auth_token:
    secure: sPHckOjYjTNtIT8ZUYl13F1K/G9deDsVQCWZ/yyHF99/l2N9O65wJBqMeDcilCA8
  artifact: output
  draft: false
  prerelease: false
  on:
    branch: build
