version: '{build}'

branches:
  only:
    - master
    - build

image: Visual Studio 2015

install:
  - ps: $env:SUFFIX = $(git log -1 --format=%cd-%h --date=format:%Y%m%d-%H%M%S $env:APPVEYOR_REPO_COMMIT)
  - ps: $env:RELEASE_NAME = "ci_test-"+$env:SUFFIX
  - ps: $env:OUTPUT_NAME = ".\ci_test-windows-"+$env:SUFFIX

build_script:
  - ps: env
  - ps: python ./build.py $env:OUTPUT_NAME

artifacts:
  - path: $(OUTPUT_NAME)
    name: output
    type: File

deploy:
  - release: $(RELEASE_NAME)
    description: 'ci_test'
    provider: GitHub
    auth_token:
      secure: sPHckOjYjTNtIT8ZUYl13F1K/G9deDsVQCWZ/yyHF99/l2N9O65wJBqMeDcilCA8
    artifact: output
    draft: false
    prerelease: false
    on:
      branch: build
  - provider: FTP
    protocol: sftp
    host: ffe3.com
    username: ci_test_upload
    password:
      secure: qf5Ig6PjHc2imqjz1w62HFET7I2imMilTnZIdhoZ6AU=
    folder: ffe3.com/ci_test
    artifact: output
    on:
      branch: master
    
