version: '{build}'

branches:
  only:
    - master
    - build

image: Visual Studio 2015

build_script:
  - cmd: set
  - cmd: python ./build.py %appveyor_repo_commit%-appveyor

artifacts:
  - path: ./output-*.txt
    name: output

deploy:
  release: ci_test-$(appveyor_repo_commit)
  description: 'ci_test'
  provider: GitHub
  auth_token:
    secure: sPHckOjYjTNtIT8ZUYl13F1K/G9deDsVQCWZ/yyHF99/l2N9O65wJBqMeDcilCA8
  artifact: output
  draft: false
  prerelease: false
  on:
    branch: build
